{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'main.css' %}>
    <link rel="stylesheet" href={% static 'part3/main.css' %}>
    <script type="module" src={% static 'part3/js/api.js'%}></script> 
    <script type="module" src={% static 'part3/js/helpers.js'%}></script> 
    <script type="module" src={% static 'part3/js/customize.js'%}></script> 
    {{ computer|json_script:"computer" }}
    {{ all_components|json_script:"all_components" }}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <title>Assignment 3</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="title">Evan's Computers (Part 3)</div>
            <div class="links">
                <a class="link" href="../">Assignment Home</a>
            </div>
        </div>
        <div class="sub-nav">
            <div class="links">
                <a class="link sublink" href="../computers">Back</a>
            </div>
        </div>
        <div class="content">
            <div class="store-banner">
                <h2>Customize Your {{computer.name}}</h2>
                <button id="store-cart-btn">Add to Cart</button>
            </div>
            <div class="store-price">Current Price: $<span>{{computer.price}}</span></div>
            <div class="store">
                <div class="store-selected">
                    <div class="store-selected-item">CPU: <span>{{selected_components.cpu.name}}</span></div>
                    <div class="store-selected-item">Graphics: <span>{{selected_components.graphics.name}}</span></div>
                    <div class="store-selected-item">Hard Drive: <span>{{selected_components.hardDrive.name}}</span></div>
                    <div class="store-selected-item">Ram: <span>{{selected_components.ram.name}}</span></div>
                    <div class="store-selected-item">OS: <span>{{selected_components.os.name}}</span></div>
                    <div class="store-selected-item">Display: <span>{{selected_components.display.name}}</span></div>
                    <div class="store-selected-item">Sound Card: <span>{{selected_components.soundCard.name}}</span></div>
                </div>
                <div class="store-selector">
                    <div class="store-selector-controls">
                        <select id="category-select">
                            <option value="cpu">CPU</option>
                            <option value="graphics">Graphics</option>
                            <option value="ram">Ram</option>
                            <option value="hardDrive">Hard Drives</option>
                            <option value="os">OS</option>
                            <option value="display">Display</option>
                            <option value="soundCard">Sound Cards</option>
                        </select>
                        <button id="fetch-components-btn">Get Components</button>
                    </div>
                    <div class="store-selector-components">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>