{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'main.css' %}>
    <link rel="stylesheet" href={% static 'part3/main.css' %}>
    <script type="module" src={% static 'part3/js/helpers.js'%}></script> 
    <script type="module" src={% static 'part3/js/main.js'%}></script> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <title>Assignment 3</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="title">Evan's Computers (Part 3)</div>
            <div class="links">
                <a class="link" href="../">Assignment Home</a>
            </div>
        </div>
        <div class="sub-nav">
            <div class="links">
                <a class="link sublink" href="computers">Completed Builds</a>
                <a class="link sublink" href="parts">Part Viewer</a>
                <a class="link sublink" id="cart">Cart</a>
                <a class="link sublink right" href="contact">Contact Us</a>
            </div>
        </div>
        <div class="content">
            <div class="store-banner">
                <h2>Welcome to Evan's computer store!</h2>
                <img src={% static 'part3/logo.PNG' %}>
                <h3>Use the submenu to navigate between ordering computers, viewing parts, and viewing your cart.</h3>
                <h4>To browse completed computers, click <i>Completed Builds</i>. You can also view individual parts.</h4>
                <h4>To view your cart, click <i>Cart</i>, and for orders, click <i>Orders</i>.</h4>
            </div>
        </div>
    </div>
</body>
</html>