{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'main.css' %}>
    <link rel="stylesheet" href={% static 'part4/main.css' %}>
    <script type="module" src={% static 'part4/js/api.js'%}></script> 
    <script type="module" src={% static 'part4/js/helpers.js'%}></script> 
    <script type="module" src={% static 'part4/js/components.js'%}></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <title>Assignment 3</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="title"><img src={% static 'part4/logo_mini.PNG' %} width="70" height="50"> Evan's Computers (Part 4)</div>
            <div class="links">
                <a class="link" href="../">Assignment Home</a>
            </div>
        </div>
        <div class="sub-nav">
            <div class="links">
                <a class="link sublink" href="../part4">Back</a>
            </div>
        </div>
        <div class="content">
            <h2>Part Viewer</h2>

            <div class="store-banner">
                <div class="store">
                    <div class="store-selector">
                        <div class="store-selector-controls">
                            <select id="category-select">
                                <option value="cpu">CPU</option>
                                <option value="graphics">Graphics</option>
                                <option value="ram">Ram</option>
                                <option value="hardDrive">Hard Drives</option>
                                <option value="os">OS</option>
                                <option value="display">Display</option>
                                <option value="soundCard">Sound Cards</option>
                            </select>
                            <button id="fetch-components-btn">Get Components</button>
                        </div>
                        <div class="store-selector-components">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>