#type-selector {
    margin-bottom: 10px;
}

.converter-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#convert-submit {
    margin-left: 10px;
}

#mortgage-submit {
    margin-top: 10px;
}

#mortgage-answer {
    margin-top: 10px;
}